* {
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", serif;
}

p {
  margin: 0;
}

header {
  display: flex;
  height: 128px;
}

header i {
  margin-right: 10px;
}

header div img:hover {
  cursor: pointer;
}

nav {
  background-color: #000;
  color: #fff;
  width: 100%;
}

nav ul {
  height: 128px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 20px;
}

nav ul li:hover {
  line-height: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
/* main */

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 div img {
  height: 500px;
}

.sale {
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 2px;
}

.sale-collection {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}

.shop-now {
  background-color: #000;
  color: #fff;
  height: 60px;
  width: 335px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
}

.sale-timer {
  font-weight: 600;
  font-size: 12px;
  margin-top: 20px;
}

.section2 {
  height: 180px;
  background-color: #76504d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 25px 0;
}

.section2 article {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-right: 50px;
}

.info h4 {
  font-weight: normal;
  font-size: 20px;
}

.info p {
  margin: 6px 0;
}

.info a:visited {
  font-size: 14px;
  color: #fff;
}

.section3 {
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}

.section3 div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section3-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100px;
  margin-left: 5%;
}

.section3-title p {
  width: 600px;
  margin-left: 25px;
  color: #76504d;
  font-weight: bold;
}

.section3-line {
  height: 1px;
  width: 90%;
  background-color: #76504d;
}

.section3 {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.fashionista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fashionista p {
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}

.runway {
  background-color: #000;
  color: #fff;
  height: 90px;
  width: 335px;
  border-radius: 10px;
  font-size: 60px;
}

.logue-magazine {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
}

.section4 {
  background-color: #76504d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

svg {
  fill: #fff;
}

.arrow-left {
  height: 60px;
  fill: #fff;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3%;
}

.slides-article {
  display: flex;
}

.slides-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

.section4 h3 {
  font-weight: 500;
  font-size: 26px;
}

.section4 i {
  font-size: 50px;
  color: #fff;
}

.section4 article {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 335px;
  width: 500px;
}

.section4-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100px;
}

.section4-title p {
  width: 600px;
  margin-left: 25px;
  color: #fff;
  font-weight: bold;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #fff;
}

.section4 button {
  margin-top: 30px;
}

.section4 p {
  font-size: 22px;
}

.section4 svg.filled {
  fill: #76504d;
}
.section4 svg.empty {
  fill: rgb(214, 212, 212);
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.section4 h1 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* ----------------------------------------------------------------------------- */
/* footer */

footer {
  height: 500px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 90%;
  /* background-color: rgb(35, 54, 54); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
  height: 230px;
}

.footer-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.footer-info-block-segment {
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.list {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 50px;
}

footer li {
  list-style: none;
  opacity: 0.8;
}

.copyrights {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
}

footer i {
}
